[Unit]
Description=High-performance, schema-free document-oriented database
After=network.target

[Service]
User=mongodb
TasksAccounting=false
TasksMax=infinity
LimitFSIZE=infinity
LimitCPU=infinity
LimitAS=infinity
LimitNOFILE=64000
LimitRSS=infinity
LimitNPROC=256899
ExecStart=/usr/bin/mongod --quiet --config /etc/mongod.conf

[Install]
WantedBy=multi-user.target
